<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

	<property name="consolePattern"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${consolePattern}</pattern>
		</encoder>
	</appender>

	<logger name="com.superluli"
		level="INFO" additivity="true" />

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>